#/*
#;!ConsoleApplication*/ConsoleApplication*/ConsoleApplication*.cpp
#!ConsoleApplication4/ConsoleApplication4/ConsoleApplication4.cpp
#*
#!ConsoleApplication4/ConsoleApplication4.sln
#\!sex\sex.txt
/lab*/lab*/*
!lab*.cpp
.vs
/lab*/x*
/**/*.sln
